{% extends 'base.html' %}


{% block title %} - {{ movie.title }} Details {% endblock %}

{% block content %}

<style>
	.rating-table {
		text-align: center;
	    width: 50%;
	}

	.rating-table-cell {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}
</style>

<h2>Basic Information</h2>

<ul>
	<li>Movie Id: {{ movie.movie_id }}</li>
	<li>Title: {{ movie.title }}</li>
	<li>Release Date: {{ movie.released_at }}</li>
	<li><a href="{{ movie.imdb_url }}">IMDB Link</a></li>
</ul>

<!-- TO DO: if the user is logged in, show a form where the person updates or sets a new rating for this movie -->
{% if isLoggedIn %}
	<form action="/set-rating" method="POST">
		<h2>Rate this Movie</h2>
		<p>On a scale of 1 (ugh, the worst) to 5 (omg, amazing), how would you rate this movie?</p>
		<input type="number" min="1" max="5" name="score">
		<input type="hidden" name="movie_id" value="{{ movie.movie_id }}">

		<input type="submit">
	</form>
{% endif %}

	<p>Average Rating for this movie is: {{ average_rating }}</p>
{% if prediction %}
	<p>We predict that you will rate this movie: {{ prediction }}</p>
{% endif %}

<h2>Ratings:</h2>

<table class='rating-table'>
	<tr class='rating-table-cell'>
		<th class='rating-table-cell'>User</th>
		<th class='rating-table-cell'>Score Given</th>
	</tr>
	{% for rating in movie.ratings %}
		<tr class='rating-table-cell'>
			<td class='rating-table-cell'>{{ rating.user.email }}</td>
			<td class='rating-table-cell'>{{ rating.score }}</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
